:root {
  --theme: #43883fff;
}

html, body {
  font-family: 'Lato', sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

/*-----------------------------------------------------------------------------
NAVBAR
-----------------------------------------------------------------------------*/
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--theme);
  z-index: 1;
  width: 100%;
}

.header-img {
  height: 40vh;
  background: url("../images/playground.jpeg") center;
  background-size: cover;
}

.title-text {
  color: #fff;
  position: relative;
  left: 5vw;
  top: 28vh;
}

.title-text h1 {
  font-size: 2em;
  font-weight: 600;
}

.navbar-collapse {
  flex-grow: 0;
}

/*-----------------------------------------------------------------------------
CONTENT
-----------------------------------------------------------------------------*/
.content {
  padding: 20px;
}

.contact li {
  list-style-type: none;
  line-height: 160%;
}

.socials {
  background-color: var(--theme);
  text-align: center;
}

.desktop-contacts {
  display: none;
}

/*-----------------------------------------------------------------------------
BOXES
-----------------------------------------------------------------------------*/
.image-boxes {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.boxes {
  height: 300px;
  width: 50%;
  margin: 0;
  padding: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
  color: white;
  text-shadow: 1px 1px 2px #303030;
  text-align: center;
}

.boxes h3 {
  font-weight: 700;
  position: relative;
  top: 30px;
}

.boxes h5 {
  position: relative;
  top: 30px;
  line-height: 1;
  font-size: 1.1em;
}

.boxes .btn {
  position: relative;
  top: 50px;
  border: 2px solid;
}

  #informer {
    background-image: url("../images/informer.png");
    background-color: var(--theme);
  }

  #projects {
    background-image: url("../images/playground.jpg");
    background-color: #DBDA3D;
  }

  #events {
    background-image: url("../images/events.jpg");
    background-color: #DBDA3D;
  }

  #directory {
    background-image: url("../images/community.jpg");
    background-color: var(--theme);
  }


/*-----------------------------------------------------------------------------
CAROUSEL
-----------------------------------------------------------------------------*/
.carousel-caption h3 {
  align-items: center;
  text-shadow: 2px 2px 4px #303030;
}

/*---------------------------------j-------------------------------------------
FOOTER
-----------------------------------------------------------------------------*/
footer {
  background-color: var(--theme);
  color: white;
  font-size: 75%;
  padding-top: 10px;
  padding-bottom: 30px;
  text-align: center;
}

.footer-row {
  margin-bottom: 0;
}

/*-----------------------------------------------------------------------------
MEDIA QUERIES
-----------------------------------------------------------------------------*/
@media screen and (min-width: 920px) {

  .navbar, .navbar-brand, li, p  {
    font-size: 130%;
  }

  h4 {
    font-size: 2em;
  }

  .header-img {
    height: 55vh;
  }

  .title-text {
    left: auto;
    top: 25vh;
  }

  .title-text h1 {
    font-size: 4em;
    text-align: center;
    text-shadow: 2px 2px 4px #303030;
  }

  .mobile-div {
    display: none;
  }

  .desktop-contacts {
    display: inline;
  }

  .contact-row {
    padding: 2%;
    text-align: center;
  }

  .desktop-contacts h4 {
    margin-bottom: 20px;
  }

  .about-us {
    padding: 5%;
  }

  .boxes {
    height: 450px;
    width: 20%;
    margin: auto;
    margin-top: 30px;
  }

  .boxes h3 {
    top: 50px;
    line-height: 1;
    font-size: 2.8em;
  }

  .boxes h5 {
    top: 70px;
    line-height: 1;
    font-size: 1.8em;
  }

  .boxes .btn {
    top: 90px;
    font-size: 1.3em;
  }

  #informer {
    background-color: var(--theme);
  }

  #projects {
    background-color: #DBDA3D;
  }

  #events {
    background-color: var(--theme);
  }

  #directory {
    background-color: #DBDA3D;
  }

}
