:root {
  --theme: #43883fff;
  --secondary: #303030;
  --bs-gutter-y: 1.5rem;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

/*h1 = Page Heading
  h2 =
  h3 = Card titles
  h4 = Index titles, Hero titles
  h5 = Carousel titles
  h6 = Hero subtitle
*/
p, a, h5, h6, h1, li {
  font-family: 'Lato', sans-serif;
}

h3, h6 {
  font-weight: 500;
  font-size: 1.25rem;
}

h3, h4 {
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/*-----------------------------------------------------------------------------
NAVBAR
-----------------------------------------------------------------------------*/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--theme);
  z-index: 1;
  width: 100%;
  box-shadow: 0 8px 6px -6px rgb(0 0 0 / 20%);
}

.header-img {
  height: 40vh;
  background: url("images/playground.jpeg") center;
  background-size: cover;
}

.title-text {
  color: #fff;
  position: relative;
  left: 5vw;
  top: 28vh;
}

.title-text h1 {
  font-size: 2rem;
  font-weight: 600;
}

.navbar-collapse {
  flex-grow: 0;
}

/*-----------------------------------------------------------------------------
CONTENT
-----------------------------------------------------------------------------*/
.content {
  padding: 20px;
}

.contact li {
  list-style-type: none;
  line-height: 160%;
}

.socials {
  background-color: var(--theme);
  text-align: center;
  border-bottom: solid 0.2rem white;
}

.desktop-contacts {
  display: none;
}

/*-----------------------------------------------------------------------------
EVENTS
-----------------------------------------------------------------------------*/
.line-clamp {
  /*Used to truncate long article lengths */
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.event-heroes p {
  font-size: 1.25rem;
}

.img-fluid {
  max-height: 500px;
}

/*-----------------------------------------------------------------------------
DIRECTORY
-----------------------------------------------------------------------------*/
.directory-div h4 {
  margin-top: 3%;
}

.card {
  border: none;
}

.card li, .card a {
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card a:link, .card a:visited, .card a:active {
  color: #000;
  text-decoration: none;
}

.card ul {
  -webkit-padding-start: 0;
  list-style-type: none;
}

.card ul li {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.card ul li:hover, .card ul li:focus {
  outline: none;
}


/*-----------------------------------------------------------------------------
ABOUT US
-----------------------------------------------------------------------------*/
.about-us {
  margin-top: 5%;
  color: var(--secondary);
  padding: 8%;
  background-color: #E3E3E3;
  background-image: url("images/network.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
}

.about-us p {
  font-size: 1.1rem;
}

/*-----------------------------------------------------------------------------
CAROUSEL
-----------------------------------------------------------------------------*/
.carousel-section {
  margin: 5% 0;
}

.carousel-section h4 {
  margin-left: 5%;
}

.carousel-img {
  width: 100%;
}

.carousel-caption {
  clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
  background-color: rgba(48, 48, 48, 0.7);
  position: absolute;
  left: 0;
  width: 90%;
  padding: 3% 8%;
  text-align: left;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 6rem;
  height: 6rem;
}

/*----------------------------------------------------------------------------
CARDS (TO REPLACE CAROUSEL ON DESKTOP)
-----------------------------------------------------------------------------*/
.box-row {
   padding: 0 10%;
}

.box-card {
  border-radius: 10px 10px 0 0;
}

.box-row h4 {
  margin: 5% auto 2% auto;
  text-align: center;
}

.box-row p {
  margin: 0 2%;
}

/*----------------------------------------------------------------------------
INFORMER
-----------------------------------------------------------------------------*/
.article-img {
  height: 50vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.article {
  padding: 0 15vw;
}

.article p {
  white-space: pre-line;
}

.nav-left {
  position: fixed;
  top: 50vh;
  left: 2vw;
}

.nav-right {
  position: fixed;
  top: 50vh;
  right: 2vw;
}


/*----------------------------------------------------------------------------
LOGIN
-----------------------------------------------------------------------------*/
.login{
  height: 80vh;
}


/*----------------------------------------------------------------------------
MAILING
-----------------------------------------------------------------------------*/
.mailing {
  height: 80vh;
}

.mailing h1 {
  color: var(--theme);
}

.mailing .btn {
  color: white;
  background-color: var(--theme);
}

/*----------------------------------------------------------------------------
FOOTER
-----------------------------------------------------------------------------*/
footer {
  background-color: var(--theme);
  color: white;
  font-size: 75%;
  padding-top: 10px;
  padding-bottom: 30px;
  text-align: center;
}

.footer-row {
  margin-bottom: 0;
}

footer p {
  margin-bottom: 0.1rem;
}

/*-----------------------------------------------------------------------------
MEDIA QUERIES: DESKTOP
-----------------------------------------------------------------------------*/
@media screen and (min-width: 990px) {
  h4 {
    margin-bottom: 2.2rem !important;
  }

  .navbar {
    padding: 0 3%;
  }

  .navbar, .navbar-brand, li, p {
    font-size: 110%;
  }

  h4, h5 {
    font-size: 200%;
  }

  .header-img {
    height: 55vh;
  }

  .article-img {
    height: 70vh;
  }

  .title-text {
    left: auto;
    top: 25vh;
  }

  .title-text h1 {
    font-size: 4rem;
    text-align: center;
    text-shadow: 2px 2px 4px var(--secondary);
  }

  .mobile-div {
    display: none;
  }

  .desktop-contacts {
    display: inline;
  }

  .contact-row {
  margin: 0 7% 5% 7%;
  }

  .contact-col {
    padding: 3%;
    text-align: center;
  }

  .about-us {
    padding: 10%;
  }

  .d-flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-div {
    padding: 3% 8%;
  }

  .carousel-img {
    width: 60%;
  }

  .carousel-caption {
    left: 20%;
    width: 50%;
    padding: 1% 2%;
  }

  .carousel-caption p {
    font-size: 100%;
  }

  .carousel-control-next, .carousel-control-prev {
    filter: invert(100%);
  }

  /*---TEXT EFFECTS---*/

  .card ul li a {
    position: relative;
    display: inline-block;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    transition: transform 0.5s ease;
    -webkit-transition: transform 0.5s ease;
  }

  .card ul li a:before {
    position: absolute;
    top: 100%;
    content: attr(title);
    color: green;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .card ul li:hover a, .card ul li:focus a {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  .article {
    padding: 3vh 15vw;
  }
}

/*-----------------------------------------------------------------------------
SOCIALS ANIMATIONS
-----------------------------------------------------------------------------*/
@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translateY(-4rem) scale(.8);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.animate-icon {
  animation: pop-in .6s cubic-bezier(0.42, 0, 0.58, 1) forwards;
  opacity: 0;
}

.animate-1 {
  animation-delay: 0.6s;
}

.animate-2 {
  animation-delay: 0.8s;
}

.animate-3 {
  animation-delay: 1s;
}
