{% extends "base.html" %}
{% block nav_informer %}active{% endblock nav_informer %}
{% block title %} | Add New Article{% endblock title %}
{% block heading %}Add New Article{% endblock heading %}
{% block image %}header-img{% endblock image %}
{% block content %}

<div class="container article">
    <form action="" method="POST">
        <input type="string", style="width:100%;", name="title", placeholder="Article Title"><br>
        <input type="string", style="width:100%;", name="subtitle", placeholder="Article Subtitle">
        {{ ckeditor.create() }}
        <h3>Click 'Submit' to proceed to image upload</h3>
        <input type="submit">
    </form>
</div>
{{ ckeditor.load() }}

{% endblock content %}
