{% extends "base.html" %}
{% block content %}


<!-- Heading Image -->
<div class="container-fluid header-img">
    <div class="title-text">
        <h1>{% block title %}Add New Article{% endblock %}</h1>
    </div>
</div>

<div class="container article">
    <form action="" method="POST">
        <input type="string", style="width:100%;", name="title", placeholder="Article Title"><br>
        <input type="string", style="width:100%;", name="subtitle", placeholder="Article Subtitle">
        {{ ckeditor.create() }}
        <h3>Click 'Submit' to proceed to image upload</h3>
        <input type="submit">
    </form>
</div>
{{ ckeditor.load() }}

{% endblock %}