{% extends "base.html" %}
{% block content %}

<!-- Heading Image -->
<div class="container-fluid article-img">
  <div class="title-text">
    <h1>{{ article.title }}</h1>
  </div>
</div>


  <!-- Left/Right navigation icons -->
<div class="navigation-icons nav-left">
<a href="/previous/{{ article.id }}">
  <i class="bi bi-caret-left"></i>
</a>
</div>

<div class="navigation-icons nav-right">
  <a href="/next/{{ article.id }}">
    <i class="bi bi-caret-right"></i>
  </a>
</div>

  <div class='article content container-fluid'>
    <h2>{{ article.subtitle }}</h2>
    <p>{{ article.body|safe }}
  </div>


{% endblock %}