{% extends "base.html" %}
{% block content %}

<!-- Heading Image -->
<div class="container-fluid article-img" style="background-image: url(/static/uploads/{{ article.img_name }});">
  <div class="title-text">
    <h1>{{ article.title }}</h1>
  </div>
</div>


  <!-- Left/Right navigation icons -->
<a href="/previous/{{ article.id }}">
  <div class="navigation-icons nav-left">
    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="#43883fff" class="bi bi-caret-left" viewBox="0 0 16 16">
      <path d="M10 12.796V3.204L4.519 8 10 12.796zm-.659.753-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753z" />
    </svg>
  </div>
  </a>

<a href="/next/{{ article.id }}">
  <div class="navigation-icons nav-right">
    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="#43883fff" class="bi bi-caret-right" viewBox="0 0 16 16">
      <path d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z" />
    </svg>
  </div>
</a>

  <div class='article container-fluid'>
    <h2>{{ article.subtitle }}</h2>
    <p>{{ article.body|safe }}
  </div>


{% endblock %}