{% extends "base.html" %}
{% block nav_directory %}active{% endblock nav_directory %}
{% block title %} | Community Directory{% endblock title %}
{% block heading %}Greater Green Island Community Directory{% endblock heading %}
{% block meta %}The Greater Green Island area has a wide range of groups and businesses to service the needs of its residents, and those outside of the Greater Green Island area. The community directory is a great place to start to find what our community has to offer.{% endblock meta %}
{% block image %}header-img{% endblock image %}
{% block content %}


  <div class="container directory-div">
    <h4>Greater Green Island Businesses</h4>
  </div>

  <!-- Cards -->
  <div class="container-fluid card-div">
    <div class="row g-5">

      <div class="col-12 col-sm-6 col-md-4 col-xl-3">
        <div class="card h-100">
          <img src="static/uploads/heat-pump.png" class="card-img-top">
          <div class="card-body">
            <ul>
              <li><a href="#" title="Airify">Airify</a></li>
            </ul>
            <p class="card-text">The heat pump cleaning company. Phone Allan Munro 0800 247439</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-xl-3">
        <div class="card h-100">
          <img src="static/uploads/playhair.png" class="card-img-top" />
          <div class="card-body">
            <ul>
              <li><a href="#" title="Playhair">Playhair</a></li>
            </ul>
            <p class="card-text">Dunedin's favourite hairdresser with little people and their parents.</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-xl-3">
        <div class="card h-100">
          <img src="static/uploads/ggiba.png" class="card-img-top">
          <div class="card-body">
            <ul>
              <li><a href="#" title="GGI Business Association">GGI Business Association</a></li>
            </ul>
            <p class="card-text">We aim to create an opportunity for businesses in the Greater Green Island Area to network and support each other.</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-xl-3">
        <div class="card h-100">
          <img src="static/uploads/ggibp.png" class="card-img-top">
          <div class="card-body">
            <ul>
              <li><a href="#" title="Green Island Botique Pharmacy">Green Island Botique Pharmacy</a></li>
            </ul>
            <p class="card-text">We are Green Island's newest 100% Locally Owned Pharmacy. Come see us for friendly, family-focused and professional advice!</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-xl-3">
        <div class="card h-100">
          <img src="static/uploads/tmmb.png" class="card-img-top">
          <div class="card-body">
            <ul>
              <li><a href="#" title="TMM Bookkeeping">TMM Bookkeeping</a></li>
            </ul>
            <p class="card-text">Providing bookkeeping, payroll and administrative services. Call 027 488 1114 or email office@tmmbookkeeping.co.nz for more info.</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-xl-3">
        <div class="card h-100">
          <img src="static/uploads/tabletopia.png" class="card-img-top">
          <div class="card-body">
            <ul>
              <li><a href="#" title="Card Title">Card Title</a></li>
            </ul>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-xl-3">
        <div class="card h-100">
          <img src="static/uploads/tabletopia.png" class="card-img-top">
          <div class="card-body">
            <ul>
              <li><a href="#" title="Card Title">Card Title</a></li>
            </ul>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-xl-3">
        <div class="card h-100">
          <img src="static/uploads/tabletopia.png" class="card-img-top">
          <div class="card-body">
            <ul>
              <li><a href="#" title="Card Title">Card Title</a></li>
            </ul>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>

    </div>
  </div>

{% endblock content %}
