{% extends "base.html" %}
{% block content %}


<!-- Heading Image -->
<div class="container-fluid header-img">
  <div class="title-text">
    <h1>{% block title %}Edit Informer Article:</h1>
    <h1>{{ article.title }}{% endblock %}</h1>
  </div>
</div>

<div class="container article">
  <form action="" method="POST">
    <input type="string", style="width:100%;", name="title", placeholder="{{ article.title }}"><br>
    <input type="string", style="width:100%;", name="subtitle", placeholder="{{ article.subtitle }}">
    {{ ckeditor.create(value=article_body) }}
    <input type="submit">
  </form>
</div>
{{ ckeditor.load() }}

{% endblock %}
