{% extends "base.html" %}
{% block nav_events %}active{% endblock nav_events %}
{% block title %}Greater Green Island Events{% endblock %}
{% block image %}header-img{% endblock image %}
{% block content %}

{% if current_user.is_authenticated %}
<div class="row">
  <a class="btn btn-primary" href="{{ url_for('add_event') }}">Add new event</a>
</div>
{% endif %}

  <!-- Heroes -->
<div class="row">
  {% for i in events %}

  {% if i.id % 2 == 0 %}
  <div class="event-heroes container col-xxl-8 px-4 py-5">
    <h5><a href="/events/{{ i.id }}">{{ i.title }}</a></h5>
    <h6>{{ i.subtitle }}</h6>
    <div class="row flex-lg-row-reverse align-items-top">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="static/uploads/{{ i.img_name }}", class="d-block mx-lg-auto img-fluid" loading="lazy">
      </div>
      <div class="line-clamp col-lg-6">
        {% if current_user.is_authenticated %}
        <div>
          <a class="btn btn-primary" href="/edit_event/{{ i.id}}">Edit event</a>
          <a class="btn btn-danger" href="/delete_event/{{ i.id}}">Delete event</a>
        </div>
        {% endif %}
        <p class="lead">{{ i.body|safe }}</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        </div>
      </div>
    </div>
  </div>
  <hr />
{% else %}
  <!-- ALTERNATING HERO PICTURE POSITIONING -->
<div class="event-heroes container col-xxl-8 px-4 py-5">
  <h4 class="mb-4">{{ i.title }}</h4>
  <div class="row flex-lg-row align-items-top">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="static/uploads/{{ i.img_name }}", class="d-block mx-lg-auto img-fluid" width="500" height="350" loading="lazy">
    </div>
    <div class="line-clamp col-lg-6">
      {% if current_user.is_authenticated %}
      <div>
        <a class="btn btn-primary" href="/edit_event/{{ i.id}}">Edit event</a>
        <a class="btn btn-danger" href="/delete_event/{{ i.id}}">Delete event</a>
      </div>
      {% endif %}
      <p class="lead">{{ i.body|safe }}</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      </div>
    </div>
  </div>
</div>
<hr />
{% endif %}
{% endfor %}
</div>

{% endblock %}
