{% extends "base.html" %}
{% block nav_projects %}active{% endblock nav_projects %}
{% block title %}Greater Green Island Playground{% endblock %}
{% block image %}header-img{% endblock image %}
{% block content %}

<div container>
  <p>
    The Green Island Community Garden is a garden located at the end of Shand Street in Green Island. It is a garden run by the community for the community, where you literally reap what you sow!
    The community garden is producing some amazing vegetables and we invite people to come along to get some.
  </p>
  <h4>Community Garden Open Weekly on:</h4>
  <ul>
    <li>Tuesday 12pm - 2pm</li>
    <li>Saturday 10am - 12pm as advised on Facebook.</li>
  </ul>
  <p>
    Community Gardens are an amazing way to learn about gardening, make new friends and get some exercise in the fresh air. If you are interested in being involved in the garden give Marion a call on 021 263 1221 or <a
      href="https://www.facebook.com/GreenIslandCommunityGarden">check us out on Facebook.</a>
  </p>
  <p>
  Where is the Community Garden - <a href="https://www.google.co.nz/maps/place/Green+Island+Community+Garden/@-45.9041651,170.4256511,15z/data=!4m5!3m4!1s0x0:0x9930718b08878a6d!8m2!3d-45.9041651!4d170.4256511">Here is a link to the Google Map to find us.</a>
 </p>
  <h4>Newspaper articles:</h4>
  <a href="https://www.odt.co.nz/news/dunedin/green-island-garden-idea-taking-shape">Green Island Garden Idea Taking Shape</a>
  <a href="https://www.odt.co.nz/news/dunedin/green-projects-begin">Green Projects Begin</a>
  <a href="https://www.odt.co.nz/news/dunedin/trust-grants-10k-green-island-projects">Trust Grants 10K to Green Island Projects</a>

</div>

{% endblock %}
