{% extends "base.html" %}
{% block nav_directory %}active{% endblock nav_directory %}
{% block title %}Greater Green Island Community Directory{% endblock title %}
{% block image %}header-img{% endblock image %}
{% block content %}


  <div class="container directory-div">
    <h4>Greater Green Island Groups</h4>
  </div>

  <!-- Cards -->
  <div class="container-fluid card-div">
    <div class="row g-5">

      <div class="col-12 col-sm-6 col-md-4 col-xl-3">
        <div class="card h-100">
          <img src="assets/uploads/gibc.png" class="card-img-top">
          <div class="card-body">
            <ul>
              <li><a href="#" title="The Green Island Bowling Club">The Green Island Bowling Club</a></li>
            </ul>
            <p class="card-text">Warmly welcoming new members or anyone who has a question or just wants to play a game, come and check out our amazing growing club.</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-xl-3">
        <div class="card h-100">
          <img src="assets/uploads/nzfwi.png" class="card-img-top" />
          <div class="card-body">
            <ul>
              <li><a href="#" title="Green Island Women's Institute">Green Island Women's Institute</a></li>
            </ul>
            <p class="card-text">Meets the third Tuesday each month - 1.30pm in the Janet Cameron Lounge, Shand Street, Green Island</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-xl-3">
        <div class="card h-100">
          <img src="assets/uploads/bbc.png" class="card-img-top">
          <div class="card-body">
            <ul>
              <li><a href="#" title="Brighton Bowling Club">Brighton Bowling Club</a></li>
            </ul>
            <p class="card-text">20 minutes from Dunedin. A club on the rise with some fantastic people, competitive bowling, super social environment and a newly established green.</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-xl-3">
        <div class="card h-100">
          <img src="assets/uploads/gicg.png" class="card-img-top">
          <div class="card-body">
            <ul>
              <li><a href="#" title="Green Island Community Garden">Green Island Community Garden</a></li>
            </ul>
            <p class="card-text">Email gifcinfo@gmail.com</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-xl-3">
        <div class="card h-100">
          <img src="assets/uploads/gijfc.png" class="card-img-top">
          <div class="card-body">
            <ul>
              <li><a href="#" title="Green Island Junior Football Club">Green Island Junior Football Club</a></li>
            </ul>
            <p class="card-text">Providing bookkeeping, payroll and administrative services. Call 027 488 1114 or email office@tmmbookkeeping.co.nz for more info.</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-xl-3">
        <div class="card h-100">
          <img src="assets/uploads/probus.png" class="card-img-top">
          <div class="card-body">
            <ul>
              <li><a href="#" title="Green Island - Fairfield Men's Probus Club">Green Island - Fairfield Men's Probus Club</a></li>
            </ul>
            <p class="card-text">Friendship, fellowship and fun in retirement. We welcome you to join our group and meet new and old friends.</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-xl-3">
        <div class="card h-100">
          <img src="assets/uploads/playgroup.png" class="card-img-top">
          <div class="card-body">
            <ul>
              <li><a href="#" title="Fairfield Community Playgroup">Fairfield Community Playgroup</a></li>
            </ul>
            <p class="card-text">Friday Mornings 9am-11.30am</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-xl-3">
        <div class="card h-100">
          <img src="assets/uploads/tabletopia.png" class="card-img-top">
          <div class="card-body">
            <ul>
              <li><a href="#" title="Card Title">Card Title</a></li>
            </ul>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>

    </div>
  </div>

{% endblock content %}