{% extends "base.html" %}
{% block nav_informer %}active{% endblock nav_informer %}
{% block title %}Greater Green Island Informer{% endblock %}
{% block image %}header-img{% endblock image %}
{% block content %}

{% if current_user.is_authenticated %}
  <div class="row">
    <a class="btn btn-primary" href="{{ url_for('add') }}">Add new article</a>
  </div>
{% endif %}

  <!-- Article cards -->
  <div class="container-fluid card-div">
    <div class="row">

      {% for i in articles %}
      <div class="container col-xxl-8">
        <div class="row flex-lg-row align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="static/uploads/{{ i.img_name }}", class="d-block mx-lg-auto img-fluid" loading="lazy">
          </div>
          <div class="line-clamp col-lg-6">
            <h5><a href="/informer/{{ i.id }}">{{ i.title }}</a></h5>
            <h6>{{ i.subtitle }}</h6>
            {% if current_user.is_authenticated %}
            <div>
              <a class="btn btn-primary" href="/edit/{{ i.id}}">Edit article</a>
              <a class="btn btn-danger" href="/delete/{{ i.id}}">Delete article</a>
            </div>
            {% endif %}
            <p class="lead">{{ i.body|safe }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>


{% endblock %}
