{% extends "base.html" %}
{% block nav_projects %}active{% endblock nav_projects %}
{% block title %}Greater Green Island Playground{% endblock %}
{% block image %}header-img{% endblock image %}
{% block content %}

<div container>
  <p>
    Through community consultation the Greater Green Island Community Network were made aware of the need for a playground for 0-6 year olds in the Green Island suburb. In 2018 this playground was completed and installed on Main South Road in Green
    Island, further plans for a recreational area including a BBQ, Community Notice board and a stage area are still in the works.
    The playground is fully fenced, has a mouse wheel, a train, a frisbee swing, an accessible roundabout and a springy.
  </p>
  <h4>History:</h4>
  <p>
    During various Greater Green Island Community Network Community Consultation, local community members voiced the need for a fenced playground with seating, a swing, a slide and some multi-play equipment within the Green Island Community.
    Consultation between 2013-2016 at collected at community events and through our GGI survey found here.
    Various designs for the multi-play equipment was shown at community events, in Freshchoice and on Social Media where children and adults voted for their favourite. As a result the Playco train design was the most popular. With 1359 votes in total
    compared with 781 votes for another design.
    The Greater Green Island Community Workers completed funding applications and had regular meetings with the DCC and RSA (as the land is DCC owned and is Memorial Gardens) in order to gain the support and funding required to build the Greater
    Green Island Community Recreation Area.
    Community members got behind the cause and assisted in raising $230,000 to make the project happen. Thank you all.
  </p>
  <ul>
    <li> Z Good in the Hood 2017 - $1260</li>
    <li>AAWJones - $10,000</li>
    <li>Give a Little - $182 + 9.50</li>
    <li>Alexander McMillan Trust - $10,000</li>
    <li>Green Island Leos Quiz Night - $1700</li>
    <li>Queen's Birthday Fun Day fund raiser - $3928.60</li>
    <li>Otago Community Trust in partnership with the RSA - $25,000</li>
    <li>Green Island Post and Cafe - $2,000</li>
    <li>Larsons Pharmacy - $2,000</li>
    <li>Greenland's Quiz Night - $1042</li>
    <li>Flex Fitness - $250.00</li>
    <li>Commercial Tavern Hunting and Fishing Comp - $1150</li>
    <li>Playhair fundraiser - $164.30</li>
    <li>Brick Sales - $1,800</li>
    <li>Nutrimetic Sales and a donation- $50.00</li>
    <li>Bendigo Valley Sports and Charity Foundation - $20,000</li>
    <li>Dunedin City Council - $26,000</li>
    <li>Harraways - $1000</li>
    <li>Fresh Choice Moyles BBQ - $269.20</li>
    <li>Kim Rapley Fencing donation $1000.00</li>
    <li>Greater Green Island Business Association - $2000</li>
    <li>Southern Rehab Otago - $500</li>
    <li>Night n Day Green Island - $2,000</li>
    <li>Lotteries Community Facility Funding - $115,343</li>
    <li>Long Ping Donation - $291</li>
    <li>Z Good in the Hood 2018 - $1745</li>
    <li>Numat gifted the community by giving us a heavily discounted price for project management, we really appreciate your support.</li>
  </ul><br>

  <p>
    The official opening of the playground development in the GGI Recreation Area was held on the 26th October 2018.
    The Greater Green Island Community Network is so pleased to report that the new playground is being used frequently by all age groups and members of the community.
    We would like to remind people to refrain from using the supermarket car parking, unless you are shopping. Parking is available on Main South Road, Shand street and Howden street or you could make it even more fun by walking or scootering to the
    park.
    Please leave dogs outside of the fenced area so small children feel safe.
    The playground is for all age groups but please remind young adults to be aware of the smaller children and sharing the equipment. Also to be considerate of the residents who live on Main South road and in the DCC Flats on Shand Street, noise
    levels need to be kept to a minimum in the evening please.
  </p>
  <h4> This is OUR COMMUNITY ASSET, we all worked hard to create it, now let’s all look after it and each other while we enjoy it. </h4>
  <p>
    The playground was handed over to the DCC in February 2019 who check and clean it weekly.
    The next stage of the development will be looking into a staging area for concerts in the park, a BBQ, a bin inside the fenced area and a community notice board.
  </p>
  <h4>Publicity Links:</h4>
  <a href="https://www.odt.co.nz/news/dunedin/dcc/network-continues-push-local-playground">Network Continues to Push Local Playground</a>
  <a href="https://www.odt.co.nz/news/dunedin/95-say-area-good-live-survey">95% Say Area is a Good Place to Live</a>
  <a href="https://www.odt.co.nz/news/dunedin/community-rallies-behind-playground">Community Rallies Behind Playground</a>
  <a href="https://www.oct.org.nz/news/funding-boost-for-green-island-community">Funding Boost for Green Island Community</a>
  <a href="http://www.channel39.co.nz/news/funding-boost-green-island-playground">Dunedin Channel 9 Clip Oct 2017</a>
  <a href="https://www.odt.co.nz/news/dunedin/playground-construction-set-begin">Playground Construction Set to Begin</a>

</div>

{% endblock %}
