{% extends "base.html" %}
{% block nav_projects %}active{% endblock nav_projects %}
{% block title %} | Road Improvements{% endblock title %}
{% block heading %}Greater Green Island Road Improvements{% endblock heading %}
{% block meta %}Road safety improvements - the Green Island Interchange/Roundabouts were installed in July 2018 as a result of community consultation and partnership with the DCC. NZTA and DCC worked together on this project to install 3 new roundabouts to replace the existing give way intersections.{% endblock meta %}
{% block image %}header-img{% endblock image %}
{% block content %}

<div class='article container-fluid'>
  <p>
Road safety improvements - the Green Island Interchange/Roundabouts were installed in July 2018 as a result of community consultation and partnership with the DCC.
NZTA and DCC worked together on this project to install 3 new roundabouts to replace the existing give way intersections.
A road safety consultation was completed by the Greater Green Island Community Network in late 2016 and given to the DCC, ORC and NZTA in January 2017.
The DCC and NZTA listened to the communities request and the work began in March 2018 and is scheduled was completed in July 2018.
</p>
<a href="https://www.odt.co.nz/news/dunedin/nzta-proposal-welcomed">NZTA Proposal Welcomed</a><br>
<a href="https://www.odt.co.nz/news/dunedin/goodbye-green-island-traffic-jams">Goodbye Green Island Traffic Jams</a><br>
</div>

{% endblock %}
